

.w-25{
    width: 25%;font-family: ;
}



footer{
    color: white;
    background-color: #0e1f3a;
    margin-bottom: 0;
}

.footer-container{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    margin-bottom: 20px;
}

.payment-img{
    width: 80%;
    height: 30px;
    border-radius: 3px;
}