.nav-container{
    display: flex;
    justify-content: space-between;
    background-color: #0e1f3a;
    color: white;
    height: 70px;
    margin-bottom: 120px;
    padding-top: 20px;
    padding: 20px;
}